<mat-toolbar color="primary">
    <span routerLink="/">Miahoot</span>
    <span class="example-fill-remaining-space"></span>
    <ng-container *ngIf = "user | async as U; else unlogged">
        {{U.displayName}}
        <img referrerpolicy="no-referrer" mat-button [matMenuTriggerFor]="menu" src={{U.photoURL}} alt=""/>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click) ="logout()">Logout</button>
            <button mat-menu-item routerLink="/accountConfig">Account config</button>
        </mat-menu>
    </ng-container>
    <ng-template #unlogged>
        <div class="loginclass">
            <button (click)="login()" mat-raised-button color="warn">Login</button>
        </div>
    </ng-template>
</mat-toolbar>

<h2 style="background: red;" *ngIf="bsIsAuthentified | async">
    En cours d'authentification
</h2>
<mat-spinner *ngIf="bsIsAuthentified | async"></mat-spinner>
<h1>MIAHOOT PROTOTYPE</h1>
<router-outlet></router-outlet>